body {
    background-color: #367588;
    color: white;
}
img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
#selector-box {
    border: 2px solid white;
}
#selector-cover {
    background-color: #367588;
}
#dna-container {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
