#selector-box {
    border: 2px solid black;
}
#dna-container {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#selector-cover {
    background-color: goldenrod;
}
body {
    background-color: goldenrod;
}
