body {
    font-family: "Open Sans", Helvetica, sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
#money-container {
    position: absolute;
    top: 3vh;
    left: 2vw;
    height: 5.5em;
    width: 10vw;
}
#money-container > img {
    display: block;
    height: 2.5em;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#money {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    transition: opacity 250ms ease-in-out;
}
#end-turn-button {
    position: absolute;
    top: 5vh;
    right: 4vw;
    font-size: 2.5em;
    transition: opacity 300ms ease-in-out;
}
#main-container {
    position: absolute;
    width: 85vw;
    height: 85vh;
    left: 7.5vw;
    bottom: 0;
    transform: translateY(0vh);
    transition: transform 300ms ease-in-out;
}
#selector-container {
    position: absolute;
    left: calc(42.5vw - 18vh);
}
#selector-icon-container > img {
    height: 7vh;
    padding: 1vh;
}
#selector-box {
    position: absolute;
    width: 9vh;
    height: 9vh;
    top: 0;
    box-sizing: border-box;
    transition: transform 200ms ease-in-out;
    z-index: 100;
}
#selector-cover {
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -4px;
}
#dna-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 76vh;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.dna-viewer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 0 0 85vw;
}
.dna-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 2vmin;
}
.dna-column-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.dna-column-left {
    margin-right: auto;
}
.dna-subcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.allele {
    height: 2.5rem;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    transition: opacity 350ms ease-in-out;
}
.dna-icon-img {
    height: 5rem;
}
.dna-padder {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    height: 2em;
    line-height: 2em;
}
#dna-inner-container {
    display: flex;
    transition: transform 200ms ease-in-out;
}
#large-text {
    width: 100vw;
    text-align: center;
    position: fixed;
    font-size: 7vw;
    transition: all 200ms ease-in-out;
    top: calc(40vh - 0.5em);
    transform: translateY(10vh);
}
