body {
    font-family: "Open Sans", Helvetica, sans-serif;
}
#money-container {
    position: absolute;
    top: 5vh;
    left: 4vw;
    height: 4.5em;
    width: 10vw;
}
#money-container > img {
    display: block;
    height: 2em;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#money {
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
#side {
    position: absolute;
    top: 5vh;
    right: 4vw;
    font-size: 2.5em;
}
#main-container {
    position: absolute;
    width: 85vw;
    height: 70vh;
    left: 7.5vw;
    bottom: 0;
}
#selector-container {
    position: absolute;
    left: calc(42.5vw - 9.2em);
}
#selector-icon-container > img {
    height: 4em;
    padding: 0.3em;
}
#selector-box {
    position: absolute;
    width: 4.6em;
    height: 4.6em;
    top: 0;
    transition: margin-left 200ms ease-in-out;
}
